# PYTHON BASIC PROGRAM

1. WPP to read a string and convert all even indexed values into upper case.
2. WPP to read a string and convert all odd indexed values into upper case.
3. WPP to find sum of all elements present in a list
4. WPP to find max of two numbers
5. WPP to find min of two numbers
6. WPP to find max of three numbers
7. WPP to find min of three numbers
8. WPP to find max of four numbers
9. WPP to find min of four numbers
10. WPP to find max of five numbers
11. WPP to find min of five numbers
12. WPP to find difference between max and min of five numbers
13. WPP to find factorial of the given number
14. WPP to check whether the given number is prime or not.
15. WPP to extract digits present in the given number.
16. sum of digits present in the given number
17. reverse of the given number
18. The given number is paliandrome number or not
19. check whether the given digit is there in the number or not

-------

## Problem Statement -1

### Write a program  to read a string from the user and convert all characters at **even indices** into **uppercase** while keeping the characters at **odd indices** unchanged.  


### Example  

For string "abc":  
- `s[0] = a` → uppercase → `A`  
- `s[1] = b` → unchanged → `b`  
- `s[2] = c` → uppercase → `C`  

Final output → `AbC`

In [5]:
st=input("Enter the string : ")   #abc
s=[]

for i in  st:                          # i=a,b,c
  if st.index(i)%2==0:                 # 0,1,0
    s.append(i.upper())                # ['A','b','C']
  else:
    s.append(i)

print("".join(s))

Enter the string : abc
AbC

In [6]:
# Input from user
st = input("Enter the string: ")  # Example input: abc

# Empty list to store characters
s = []

# Loop through the string with index
for idx, char in enumerate(st):  # idx=0,1,2 ; char='a','b','c'
    if idx % 2 == 0:             # check if index is even
        s.append(char.upper())   # convert char to uppercase and append
    else:
        s.append(char)           # append char as it is

# Join the list into a single string and print
print("".join(s))

Enter the string: abc
AbC

-----

## Problem Statement -2

### Write a program  to read a string from the user and convert all characters at **odd indices** into **uppercase** while keeping the characters at **even indices** unchanged.  



### Example  

For string "abc":  
- `s[0] = a` → unchanged → `a`  
- `s[1] = b` → uppercase → `B`  
- `s[2] = c` → unchanged → `c`  

Final output → `aBc`

In [7]:
st=input("Enter the string : ")   #abc
s=[]

for i in  st:                          # i=a,b,c
  if st.index(i)%2!=0:                 # 0,1,0
    s.append(i.upper())                # ['a','B','c']
  else:
    s.append(i)

print("".join(s))

Enter the string : abc
aBc

------

## Problem Statement -3

### Write a program to find the sum of all elements present in a list.  

### Example  

For list [1, 2, 3, 4, 5]:  
- Sum = 1 + 2 + 3 + 4 + 5 = 15  

Final output → 15

In [15]:
lst=[1, 2, 3, 4, 5]

total=0
for i in lst:
 total=total+i

print(total)

15

In [16]:
ls = [1, 2, 3, 4, 5]   # a list of numbers
print(sum(ls))          # sum() adds all elements of the list

15

-----

## Problem Statement -4

### Write a program to find the maximum of two numbers.  

### Example  

For numbers 10 and 20:  
- Max(10, 20) = 20  

Final output → 20

In [25]:
a,b=10,20
if a<b:
  print(b)

20

In [17]:
a,b=10,20
print(max(a,b))

20

-----

## Problem Statement -5

### Write a program to find the minimum of two numbers.  

### Example  

For numbers 10 and 20:  
- Min(10, 20) = 10  

Final output → 10

In [24]:
a,b=10,20
if a<b:
  print(a)

10

In [21]:
a,b=10,20
print(min(a,b))

10

----
## Problem Statement -6

### Write a program to find the maximum of three numbers.  

### Example  

For numbers 10, 25, and 15:  
- Max(10, 25, 15) = 25  

Final output → 25

In [26]:
a,b,c=6,2,8
print(max(a,b,c))

8

In [28]:

a,b,c=6,2,8
if a>=b and a>c:
  print(a)
elif b>=a and b>=c:
  print(b)
else:
  print(c)

2

In [29]:
a,b,c=6,2,8

print( a if a >= b and a >= c else (b if b >= c else c))    # Ternary Operator

8

------

## Problem Statement -7

### Write a program to find the minimum of three numbers.  

### Example  

For numbers 10, 25, and 15:  
- Min(10, 25, 15) = 10  

Final output → 10

In [30]:
a,b,c=6,2,8
print(min(a,b,c))

2

In [31]:

a,b,c=6,2,8
if a<=b and a<=c:        # a<b,c
  print(a)
elif b<=a and b<=c:      #b<a,c
  print(b)
else:
  print(c)

2

In [32]:
a,b,c=6,2,8

print( a if a <= b and a <= c else (b if b <= c else c))    # Ternary Operator

2

-------

## Problem Statement -8

### Write a program to find the maximum of four numbers.  

### Example  

For numbers 12, 7, 19, and 3:  
- Max(12, 7, 19, 3) = 19  

Final output → 19

In [34]:
a,b,c,d=6,2,8,13
print(max(a,b,c,d))

13

In [35]:

a,b,c,d=6,2,8,13
if a>=b and a>=c and a>=d:
  print(a)
elif b>=a and b>=c and b>=d:
  print(b)
elif c>=a and c>=b and c>=d:
  print(b)
else:
  print(d)

13

In [36]:
# Define four numbers
a, b, c, d = 6, 2, 8, 4

# Nested ternary to find the maximum
maximum = a if a >= b and a >= c and a >= d else \
          b if b >= a and b >= c and b >= d else \
          c if c >= a and c >= b and c >= d else d

print("The maximum number is:", maximum)

The maximum number is: 8

--------

## Problem Statement -9

### Write a program to find the minimum of four numbers.  

### Example  

For numbers 12, 7, 19, and 3:  
- Min(12, 7, 19, 3) = 3  

Final output → 3

In [ ]:
a,b,c,d=6,2,8,13
print(min(a,b,c,d))

In [37]:

a,b,c,d=6,2,8,13
if a<=b and a<=c and a<=d:
  print(a)
elif b<=a and b<=c and b<=d:
  print(b)
elif c<=a and c<=b and c<=d:
  print(b)
else:
  print(d)

2

In [38]:
# Define four numbers
a, b, c, d = 6, 2, 8, 4

# Nested ternary to find the maximum
maximum = a if a <= b and a <= c and a <= d else \
          b if b <= a and b <= c and b <= d else \
          c if c <= a and c <= b and c <= d else d

print("The maximum number is:", maximum)

The maximum number is: 2


--------


## Problem Statement -10

### Write a program to find the maximum of five numbers.  

### Example  

For numbers 4, 18, 9, 23, and 11:  
- Max(4, 18, 9, 23, 11) = 23  

Final output → 23

In [39]:
a, b, c, d, e = 10, 25, 15, 30, 20

maximum = max(a, b, c, d, e)

print("The maximum number is:", maximum)

The maximum number is: 30

In [41]:
a, b, c, d, e = 10, 25, 15, 30, 20



# Find maximum using if-elif-else
if a >= b and a >= c and a >= d and a >= e:
    maximum = a
elif b >= a and b >= c and b >= d and b >= e:
    maximum = b
elif c >= a and c >= b and c >= d and c >= e:
    maximum = c
elif d >= a and d >= b and d >= c and d >= e:
    maximum = d
else:
    maximum = e

print("The maximum number is:", maximum)

The maximum number is: 30

In [40]:
a, b, c, d, e = 10, 25, 15, 30, 20

# Nested ternary operator to find maximum
maximum = a if a>=b and a>=c and a>=d and a>=e else \
          b if b>=a and b>=c and b>=d and b>=e else \
          c if c>=a and c>=b and c>=d and c>=e else \
          d if d>=a and d>=b and d>=c and d>=e else e

print("The maximum number is:", maximum)

The maximum number is: 30

-----

## Problem Statement -11

### Write a program to find the minimum of five numbers.  

### Example  

For numbers 4, 18, 9, 23, and 11:  
- Min(4, 18, 9, 23, 11) = 4  

Final output → 4

In [44]:
a, b, c, d, e = 10, 25, 5, 30, 20

minimum = min(a, b, c, d, e)

print("The minimum number is:", minimum)

The minimum number is: 5

In [43]:
a, b, c, d, e = 10, 25, 5, 30, 20
# Find minimum using if-elif-else
if a <= b and a <= c and a <= d and a <= e:
    minimum = a
elif b <= a and b <= c and b <= d and b <= e:
    minimum = b
elif c <= a and c <= b and c <= d and c <= e:
    minimum = c
elif d <= a and d <= b and d <= c and d <= e:
    minimum = d
else:
    minimum = e

print("The minimum number is:", minimum)

The minimum number is: 5

In [42]:
a, b, c, d, e = 10, 25, 5, 30, 20

# Nested ternary operator to find minimum
minimum = a if a<=b and a<=c and a<=d and a<=e else \
          b if b<=a and b<=c and b<=d and b<=e else \
          c if c<=a and c<=b and c<=d and c<=e else \
          d if d<=a and d<=b and d<=c and d<=e else e

print("The minimum number is:", minimum)

The minimum number is: 5

---------

## Problem Statement -12

### Write a program to find the difference between the maximum and minimum of five numbers.  

### Example  

For numbers 4, 18, 9, 23, and 11:  
- Max = 23  
- Min = 4  
- Difference = 23 - 4 = 19  

Final output → 19

In [48]:
a, b, c, d, e = 10, 25, 5, 30, 20

minimum = min(a, b, c, d, e)
maximum = max(a, b, c, d, e)
print(f"Maximum is : {maximum}  \nMinimim is : {minimum} \n")


print("Differnce between maximum and minimun number is:", maximum-minimum)

Maximum is : 30
Minimim is : 5

Differnce between maximum and minimun number is: 25

-------

## Problem Statement -13

### Write a program to find the factorial of the given number.  

### Example  

For number 5:  
- 5! = 5 × 4 × 3 × 2 × 1 = 120  

Final output → 120

In [52]:
inpt=int(input("Enter the number : "))

fact=1
for i in range(1,inpt+1):
  fact*=i
print(f"Factroial of {inpt} is : {fact}")

Enter the number : 5
Factroial of 5 is : 120

In [53]:
# Input a number from the user
num = int(input("Enter a number: "))

# Initialize factorial
factorial = 1

# Check for negative numbers
if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # Calculate factorial using a for loop
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a number: 5
The factorial of 5 is 120

In [54]:
# Recursive function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Input from the user
num = int(input("Enter a number: "))

# Check for negative numbers
if num < 0:
    print("Factorial does not exist for negative numbers.")
else:
    print(f"The factorial of {num} is {factorial(num)}")

Enter a number: 5
The factorial of 5 is 120

------

## Problem Statement -14

### Write a program to check whether the given number is prime or not.  

### Example  

For number 7:  
- Divisors of 7 → 1 and 7 only  
- Hence 7 is a prime number  

Final output → Prime

In [66]:
num = int(input("Enter the number: "))

if num <= 1:
    print(f"Number {num} is not prime")
else:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):  # check divisors up to sqrt(num)
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"Number {num} is prime")
    else:
        print(f"Number {num} is not prime")

Enter the number: 12
Number 12 is not prime

------

## Problem Statement -15

### Write a program to extract digits present in the given number.  

### Example  

For number 4725:  
- Digits = 4, 7, 2, 5  

Final output → 4 7 2 5

In [67]:
num=input("Enter the number :")
lst=list(num)
for i in lst:
  print(i,end=" ")

Enter the number :85293
8 5 2 9 3

In [68]:
# Input number from the user
num = int(input("Enter a number: "))

# Make sure number is positive
num = abs(num)

print("Digits in the number:")

while num > 0:
    digit = num % 10       # extract last digit
    print(digit, end=" ")  # print digit
    num = num // 10        # remove last digit

Enter a number: 556358
Digits in the number:
8 5 3 6 5 5

--------

## Problem Statement -16

### Write a program to find the sum of digits present in the given number.  

### Example  

For number 4725:  
- Sum = 4 + 7 + 2 + 5 = 18  

Final output → 18

In [69]:
# Input number from the user
num = int(input("Enter a number: "))

t=0
while num > 0:
    digit = num % 10
    t+=digit
    num = num // 10

print("Sum of Digits in the number:",t)

Enter a number: 4725
Sum of Digits in the number: 18

----

## Problem Statement -17

### Write a program to find the reverse of the given number.  

### Example  

For number 4725:  
- Reverse = 5274  

Final output → 5274

In [70]:
# Input number from the user
num = int(input("Enter a number: "))

rev=0
while num > 0:
    digit = num % 10       # extract last digit
    rev=rev*10+digit
    num = num // 10        # remove last digit


print("Reverse number:",rev)

Enter a number: 4725
Reverse number: 5274

-----

## Problem Statement -18

### Write a program to check whether the given number is a palindrome number or not.  

### Example  

For number 121:  
- Reverse = 121 → same as original  
- Hence 121 is a palindrome  

Final output → Palindrome

In [77]:
num = int(input("Enter a number: "))

# Store original number for comparison
original_num = num
rev = 0


# Reverse the number
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10

# Check palindrome using original number
if original_num == rev:
    print(f"Number {original_num} is a palindrome")
else:
    print(f"Number {original_num} is not a palindrome")

Enter a number: 121
Number 121 is a palindrome

-------

## Problem Statement -19

### Write a program to check whether the given digit is present in the number or not.  

### Example  

For number 4725 and digit 7:  
- 7 is present in 4725  

Final output → Present

In [79]:
num = int(input("Enter a number: "))
element=int(input("Enter the seaching element"))

lst=[]

while num > 0:
    digit = num % 10
    lst.append(digit)
    num = num // 10


if element in lst:
    print(f"Number {element} is present")
else:
    print(f"Number {element} is not present")

Enter a number: 4725
Enter the seaching element7
Number 7 is present